<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="Student_Class.css" />
  </head>
  <body>
    <div class="container">
      <div class="header-section">
        <div class="tabs-container">
          <div class="logo-and-tabs">
            <div class="logo-column">
              <img src="../images/icon_black.png" class="logo" alt="Logo" />
            </div>
            
            <div class="tab-row">
              <button class="tab-button" id="class-tab">Lớp</button>
              <a href="Student_DiemDanh.html" class="tab-button">Điểm Danh</a>
            </div>

          </div>
        </div>
        <div class="profile-container">
          <div class="profile-content">
            <img src="../images/profile.png" onclick="toggleMenu()" />
          </div>
        </div>
        <div class="sub-menu-wrap" id="subMenu">
          <div class="sub-menu">
            <a href="#" class="sub-menu-link">
              <img src="../images/setting.png" />
              <p>Settings & Privacy</p>
              <span>></span>
            </a>
            <a href="#" class="sub-menu-link">
              <img src="../images/logout.png" />
              <p>Logout</p>
              <span>></span>
            </a>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="content-columns">
            <div class="class-list-container">
              <div class="class-header">
                <div class="class-title">Danh Sách Lớp</div>
                <button class="add-class-button">Làm mới</button>
              </div>
              <div class="class-items">
                <!-- Class items would be dynamically added here -->
              </div>

              <div class="class-actions">
                <button type="button" class="action-button">Điểm danh</button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <script>
      document
        .getElementById("class-tab")
        .addEventListener("click", function () {
          this.classList.add("active");
          document.getElementById("student-tab").classList.remove("active");
        });

      document
        .getElementById("student-tab")
        .addEventListener("click", function () {
          this.classList.add("active");
          document.getElementById("class-tab").classList.remove("active");
        });
      let subMenu = document.getElementById("subMenu");
      function toggleMenu() {
        subMenu.classList.toggle("open-menu");
      }
    </script> -->
  </body>
</html>
