@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}


/* this is for centering navbar */
.container {
    display: flex;
    flex-direction: column;
    padding: 40px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

/* Background image */
.container::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/gradient.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
}


/* Header section */
.header-section {
    display: flex;
    gap: 20px;
    position: relative;
    max-width: 1193px;
    width: 100%;
    align-self: flex-end;
}

.tabs-container {
    width: 76%;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 16px;
    padding: 16px 80px 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.logo-and-tabs {
    display: flex;
    gap: 20px;
}

.logo-column {
    width: 21%;
}

.logo {
    width: 60px;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.tab-column {
    width: 39%;
    margin-left: 20px;
}

.tab-button {
    width: 100%;
    padding: 10px 56px;
    border-radius: 33px;
    font-size: 24px;
    font-weight: 800;
    color: #1c1917;
    background-color: #d4d4d8;
    border: 1px solid;
    cursor: pointer;
    min-height: 53px;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.tab-button.active {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 12px;
}

.tab-button.active:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.profile-container {
    width: 10%;
    margin-left: 60px;

}

.profile-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 48px;
    width: 100%;
    border-radius: 16px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
}

.profile-content:hover {
    background-color: white;
}

.sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    z-index:2;
}

.sub-menu-wrap.open-menu{
    max-height: 400px
}

.sub-menu{
    background: #fff;
    padding:5px;
    margin: 10px;
    border-radius: 16px;
}

.sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}
 
.sub-menu-link p{
    width: 200px
}

.sub-menu-link img{
    width:40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right:15px
}

.sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    transform: translateX(10px);
}

.sub-menu-link:hover p{
    font-weight:600;
}

.content-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem;
    margin-top: 6rem;
    width: 100%;
    border: 5px solid black;
    background-color: rgba(217, 217, 217, 0.8);
    max-width: 1323px;
    border-radius: 100px;
}

.content-header {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    justify-content: space-between;
    width: 100%;
    max-width: 980px;
    font-weight: 800;
}

.header-left {
    display: flex;
    gap: 2.5rem;
}

.header-title {
    font-size: 1.875rem;
    color: #1C1917;
}

.new-student-button {
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;
    align-self: flex-start;
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: 3px solid black;
    border-radius: 36px;
}

.new-student-button img {
    object-fit: contain;
    margin-top: 0.5rem;
    aspect-ratio: 1.08;
    width: 26px;
}

.header-right {
    margin: auto 0;
    font-size: 1.875rem;
    color: #1C1917;
}

.content-body {
    align-self: flex-end;
    margin-top: 0.75rem;
    width: 100%;
    max-width: 1131px;
    display: flex;
    gap: 1.25rem;
}

.form-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    margin: auto 0;
    font-size: 1.5rem;
    font-weight: 800;
    color: black;
}

.form-group {
    width: 100%;
}


.input-field {
    padding: 1.25rem 1rem 2.25rem;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    font-size: 1.25rem;
    color: black;
    background-color: white;
    border: 2px solid black;
}

.image-column {
    margin-left: 1.25rem;
    width: 50%;
}

.image-placeholder {
    display: flex;
    margin: 0 auto;
    max-width: 100%;
    border: 5px solid black;
    background-color: rgba(217, 217, 217, 0.8);
    height: 461px;
    border-radius: 100px;
    width: 519px;
}

.save-button {
    display: flex;
    gap: 1rem;
    padding: 0.625rem 2.75rem;
    margin-top: 1.75rem;
    margin-left: 3.5rem;
    max-width: 100%;
    font-size: 1.875rem;
    font-weight: 800;
    color: white;
    background-color: #64748B;
    border: 3px solid black;
    border-radius: 36px;
    width: 223px;
    align-items: center;
}

.save-button img {
    object-fit: contain;
    align-self: flex-start;
    aspect-ratio: 1/1;
    width: 39px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .desktop-container {
        padding-left: 1.25rem;
    }

    .navigation-columns {
        flex-direction: column;
    }

    .nav-main-column, .profile-column {
        width: 100%;
        margin-left: 0;
    }

    .nav-bar {
        padding: 0.625rem 1.25rem;
        margin-top: 2.5rem;
        flex-direction: column;
    }

    .nav-logo-column, .nav-menu-column {
        width: 100%;
        margin-left: 0;
        margin-top: 2.5rem;
    }

    .profile-container {
        padding: 0.625rem 1.25rem;
        margin-top: 2.5rem;
    }

    .content-container {
        padding: 1.25rem;
        margin-top: 2.5rem;
        max-width: 100%;
    }

    .content-body {
        flex-direction: column;
    }

    .form-column, .image-column {
        width: 100%;
        margin-left: 0;
        margin-top: 2.5rem;
    }

    .image-placeholder {
        margin-top: 2.5rem;
    }
}

